.app.dark{
    background-color: #121212;
    color: rgb(156,156,156);

    .chartGrid{
        stroke:rgb(156,156,156);
    }

    .table{
        background-color: #131313;

        .tableCell{
        color: rgb(156,156,156);

        }
    }
    .navbar{
        color: #999;
        border-color: #333;

        .search{
            border-color: gray;

            input{
            color: #999;

            }
        }
        
    }
    .sidebar{
        background-color: #131313;
        border-color: gray;
        color: #999;

        .top{
        
        }
        hr{
            border-color: #333;
        }
        ul{
            li{
                &:hover{
                    background-color: #333;
                }
            }
        }
        
    }
    .datatable{
        .datagrid{
            color: gray;
            border: none;

            .viewButton, .deleteButton,.cellWithStatus{
                color: gray;
                border: none;
            }
        }
    }
    input{
        background-color: transparent;
    }
}